/* wish form */
.input-fields {
  width: 60%;
  .input-form__select {
    background-color: #f2f2eb;
    opacity: 0.8;
    border-radius: 5px;
  }
  .button-submit {
    margin-top: 20px;
    font-family: inherit;
    font-weight: 300;
  }
}
